*.py[co]
.project
.pydevproject
*~
*.db
*.orig
*.DS_Store
.coverage
.vagrant
*/settings/local.py
public/static/
public/media/
*-env/
rapidsms.log
.idea/
env/
ids.txt
cron.sh
cron_log
*.rdb
celerybeat-schedule
app.log
error_log
mock_server.py
local_settings.py
redis.log