.list-table td {
    text-align: center;
}

.right {
    float: right;
    margin: 5px 10px 0 0;
}

.center-table {
    text-align: center;
    width: 100%;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 6px !important;
}

td {
    font-size: 12px;
}

td span {
    display: block;
    margin-top: 3px;
}

td.button-col {
    text-align: right;
}

table {
    margin-bottom: 0 !important;
}

.list .widget-content {
    padding: 6px 0 0 0 !important;
}